/* ============================================================
   ADB FIXO — primary brand display face.
   The licensed brand font, self-hosted per the brand owner's
   confirmation that the licence permits web embedding.
   AVAILABLE (verified against the actual files):
     500 upright · 700 upright — Latin, Latin-ext, Cyrillic, Arabic
                                 (arab script with init/medi/fina/
                                 rlig/mark shaping)
     500 italic  · 700 italic  — Latin, Latin-ext, Cyrillic ONLY;
                                 these files contain no Arabic glyphs.
   NOT SUPPLIED: 400 Regular, 600 SemiBold, and any Arabic italic.
   Never request a weight that is not declared here — the browser
   would synthesise a fake bold. Ask the brand owner for the missing
   cuts, add the file, and declare it below.
   ============================================================ */

@font-face {
  font-family: 'ADB Fixo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/ADBFixo-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'ADB Fixo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/ADBFixo-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'ADB Fixo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../assets/fonts/ADBFixo-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'ADB Fixo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/ADBFixo-BoldItalic.woff2') format('woff2');
}
